*{
    margin: 0;
}
div{
    background-color: red;
    width: 100% ;
}
.red-div{
    min-height: 80vh;

}
p{
    color: white;
}

.green-div{
    background-color: green;
    height: 500px;
    min-height: 100vh;
}