*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
width: 600px;
height: 500px;
background-color: gray;
}
.card{
    width: 150px;
    height: 150px;
}


.additional{
    /* position: relative; */
    /* top: 30px; */
    background-color: green;
}