.container{
    width: 400px;
    height: 400px;
    background-color: violet;
    position: relative;
}
.child{
    width: 200px;
    height: 200px;
    background-color: orange;

}

.child1{
    position: absolute;
    top: 0;
    right: 0;
}